body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeInUp 0.5s ease-out;
}

h1 {
  text-align: center;
  color: #4caf50;
  margin: 5px;
}

h2 {
  color: #4caf50;
  margin: 5px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #4caf50;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #4caf50;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.button-container {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.confirm {
  background-color: #4caf50;
  color: #fff;
}

button.confirm :hover {
  background-color: #338036;
}

button.add {
  background-color: #2196f3;
  color: #fff;
}

button.delete {
  background-color: #f44336;
  color: #fff;
}

button.delete:hover {
  background-color: #bd352c;
  color: #fff;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table th,
table td {
  padding: 1em;
  border: 1px solid #4caf50;
  border-right: none !important;
  border-left: none !important;
}

.domain-container {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
